[Unit]
Description=Flask comunication
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Task-Ansible
ExecStart=/usr/bin/python3 /home/vagrant/Task-Ansible/app.py
Restart=always

[Install]
WantedBy=multi-user.target 